@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Şifremi Unuttum - Anket Kazan";
}
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Şifremi Unuttum</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary" style="background: var(--bs-card-bg);padding: 20px;">
                            <svg class="bi bi-key" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: rgb(55,99,244);font-size: 135px;">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"></path>
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                            </svg>
                        </div>
                        @{
                            if (Context.Session.GetString("code") == "Over")
                            {
                                <h6>Şifreniz başarıyla değiştirildi</h6>
                            }
                            else if (Context.Session.GetString("code") == "Password")
                            {
                                <form class="text-center" method="post">
                                    <div class="mb-3"><input class="form-control" required type="password" name="password" placeholder="Yeni Şifreniz" /></div>
                                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Kaydet</button></div>
                                    <p class="text-danger">@ViewBag.error</p><p class="text-success">@ViewBag.success</p>
                                </form>
                            }
                            else if (!string.IsNullOrEmpty(Context.Session.GetString("code")))
                            {
                                <form class="text-center" method="post">
                                    <div class="mb-3"><input class="form-control" required type="text" name="key" placeholder="Doğrulama Kodu" /></div>
                                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Gönder</button></div>
                                    <p class="text-danger">@ViewBag.error</p><p class="text-success">@ViewBag.success</p>
                                </form>
                            }
                            else
                            {
                                <form class="text-center" method="post">
                                    <div class="mb-3"><input class="form-control" required type="email" name="email" placeholder="E-posta adresiniz" /></div>
                                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Doğrulama Kodu Gönder</button></div>
                                    <p class="text-danger">@ViewBag.error</p><p class="text-success">@ViewBag.success</p>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>